{% extends "base.html" %}
{% block title %}Página inicial{% endblock title %}
{% block content %}
        <h3>Pokemon</h3>
            <div class="row">
                {% for pokemon in pokemons %}
                <div class="col-sm-4">
                
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{pokemon.picture.url}}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{ pokemon | capfirst }}</h5>
                        <p class="card-text">Altura: {{pokemon.height}} </p>
                        <a href="{% url 'pokemon' id=pokemon.id %}" class="btn btn-primary">
                        <wa-icon name="eye"></wa-icon>
                        </a>
                    </div>
                </div>

                {% endfor %}
            </div>
            <h3>Entrenadores</h3>
            <ul class="list-group">
                {% for trainer in trainers %}
                <li class="list-group-item">
                    <a href="trainer/{{trainer.id}}">{{ trainer | capfirst }}</a>
                </li>
                {% endfor %}
            </ul>
{% endblock content %}


            
